<% if @musics.each do |music| %>
<div class="box">
  <div class="col-md-2 col-xs-4">
    <div class="img-thumbnail">
      <%= link_to image_tag(music.image.url(:medium)), music_path(music) %><br>
      	<div class="music-name">
        	<%= music.artist %>
      	</div>
      	<div class="music-title">
      		<%= music.title %>
      	</div>
    </div>
    <br/><br>
  </div>
</div>
<% end.empty? %>
	<div class="jumbotron">
		<h1>You don't have added any music records.</h1>
		<p>Create list of your music collection.</p>
		<%= link_to 'Add music', new_music_path, class: 'btn btn-default' %>
	</div>
<% end %>